/* Universal CSS Properties */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Body */

body {
  background: url("/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

/* Header */

header h1 {
  font-family: "Leckerli One";
  font-size: 4rem;
  text-align: left;
  padding-left: 35px;
  color: #a00;
  text-shadow: 2px 2px 0px #ffffff;
  animation: glowAnimation 2s infinite;
  margin-bottom: 20px;
  margin-top: 40px;
}

@keyframes glowAnimation {
  0%,
  100% {
    color: #a00;
    text-shadow: 0 0 10px #fff;
  }
  50% {
    color: #03a01f;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }
}

header a {
  text-decoration: none;
}

/* Input Section */
.form {
  z-index: 2;
  background-color: white;
  max-width: 800px;
  margin: auto;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
}
.form input {
  text-transform: capitalize;
  padding: 10px 10px;
  padding-right: 60px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(20, 193, 69);
  color: #aa0000;
  font-size: 18px;
  font-weight: 600;
  font-family: "Handjet";
  letter-spacing: 1px;
}
.form input:focus {
  color: #aa0000;
}
input::placeholder {
  color: green;
}

#saveButton {
  background-color: white;
  display: block;
  margin: 10px auto;
  padding: 0 9px;
  width: 5em;
  height: 2em;
  border-radius: 30em;
  border: none;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Handjet";
  cursor: pointer;
}

#saveButton::before {
  content: "";
  width: 0;
  height: 2em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

#saveButton:hover::before {
  width: 9em;
}

.form p {
  font-size: 17px;
  margin: 10px 0;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

#savedNameDisplay {
  color: green;
}

/* Game Settings */

.game-settings {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 7px;
}

.index {
  z-index: 1;
}

.settings-button {
  background-color: white;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  border: none;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: "Handjet";
  cursor: pointer;
}

.settings-button i {
  margin-right: 10px;
}

/* Button Colours*/
.settings-button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.settings-button:hover::before {
  width: 9em;
}

/* Main game area - Soil and Holes */

.game-board {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
}

.difficulty-main {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border: 3px solid #f2f2f2;
  border-radius: 40px;
  box-shadow: 6px 6px 12px #505050;
  text-align: center;
}

.btns {
  display: flex;
  flex-wrap: wrap;
}

.difficulty {
  font-size: 2.5rem;
}

.difficulty-button {
  margin: 20px;
  background-color: white;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  border: none;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: "Handjet";
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
}

.difficulty-button i {
  margin-right: 10px;
}

/* Button Colours*/
.difficulty-button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.difficulty-button:hover::before {
  width: 9em;
}

.board {
  width: 590px;
  height: 420px;
  background-image: url(/assets/images/soil.webp);
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-top: 10px;
  border-radius: 40px;
  border: rgba(255, 166, 0, 0.584) solid 3px;
}

.board div {
  width: 180px;
  height: 110px;
  margin: auto;
  text-align: center;
  background-image: url(/assets/images/hole.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
/* Mole & Rabbit */

.board div img {
  /* all img tags inside tiles */
  width: 80px;
  height: 80px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

.score-board h2 {
  text-align: center;
}

/* Modal instructions box */

.instruction-box {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal {
  z-index: 2;
  position: absolute;
  background-color: white;
  max-width: 900px;
  border: 3px solid #f2f2f2;
  border-radius: 40px;
  box-shadow: 6px 6px 12px #505050;
  margin: 20px auto;
  padding: 30px;
}
.modal h1 {
  text-align: center;
  font-size: 3.5rem;
}

.modal h2 {
  font-family: "Handjet";
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.modal p {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 10px 0;
}

/* closing the instructions - x button*/
.close {
  border-radius: 10px;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0 10px;
  font-size: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* close the instructions - play button */
.close-button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  border: none;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Handjet";
  cursor: pointer;
}

/* Play Button colours*/
.close-button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.close-button:hover::before {
  width: 9em;
}
.play-game {
  text-align: center;
}

/* Game Over Effect */

.effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2b2b2b5a;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over-box {
  margin: auto;
  max-width: 600px;
  padding: 50px;
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 40px;
  box-shadow: 6px 6px 12px #505050;
}

.game-over-box h1 {
  font-size: 4rem;
  font-family: "Leckerli One";
  text-align: center;
  color: #a00;
  text-shadow: 2px 2px 0px #ffffff;
  animation: glowAnimation 2s infinite;
  margin: 40px 0;
}

.game-over-box h2 {
  font-size: 2.5rem;
  font-family: "Handjet";
  text-align: center;
  color: #a00;
  margin: 40px 0;
}

.play-game-again {
  background-color: white;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  border: none;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: "Handjet";
  cursor: pointer;
  z-index: 1;
}

.play-game-again::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.play-game-again:hover::before {
  width: 9em;
}

/* Scoreboard */

/* Overlay Part */

.overlay {
  background-color: rgba(0, 0, 0, 0.436);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* z-index: -1; */
  backdrop-filter: blur(10px);
}

/* Footer */

footer {
  text-align: center;
  margin: 0 0;
  font-size: 1.9rem;
  font-family: "Handjet";
}
footer a {
  color: rgb(74, 89, 54);
}
