/* Universal CSS Properties */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Body */

body {
  background: url("/assets/images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden; /* Hide scrollbars */
}

/* Header */

header h1 {
  font-size: 3rem;
  font-family: "Leckerli One", cursive;
  font-size: 4rem;
  text-align: center;
  color: #a00;
  text-shadow: 2px 2px 0px #ffffff;
  animation: glowAnimation 2s infinite;
  margin: 30px 0;
}

@keyframes glowAnimation {
  0%,
  100% {
    color: #a00;
    text-shadow: 0 0 10px #fff;
  }
  50% {
    color: #03a01f;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }
}

/* Game Settings */

.game-settings {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.settings-button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  border: none;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: "Handjet", cursive;
  cursor: pointer;
}

.settings-button i {
  margin-right: 10px;
}

/* Button Colours*/
.settings-button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.settings-button:hover::before {
  width: 9em;
}

/* Main game area */

.game-board {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.score h2 {
  text-align: center;
}
#soil {
  width: 420px;
  height: 420px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: url(/assets/images/soil.webp);
  background-size: cover;
  border: 3px solid rgb(194, 130, 28);
  border-radius: 25px;
}

#soil div {
  /* soil = 420 x 420, divide into 3x3 holes --> 140x140 per div */
  width: 140px;
  height: 140px;
  background-image: url(/assets/images/hole.webp);
  background-size: cover;
  background-position: center center;
}

#soil img {
  width: 100px;
  height: 100px;
}

/* Mole & Rabbit*/

#soil div img {
  /* all img tags inside tiles */
  width: 100px;
  height: 100px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Modal instructions box */

.instruction-box {
  display: flex;
  justify-content: center;
}

.modal {
  position: absolute;
  background-color: white;
  max-width: 900px;
  border-radius: 15px;
  margin: 20px auto;
  padding: 30px;
}
.modal h1 {
  text-align: center;
  font-size: 3.5rem;
}

.modal h2 {
  font-family: "Handjet", cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.modal p {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 10px 0;
}

/* closing the instructions - x button*/
.close {
  border-radius: 10px;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0 10px;
  font-size: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* close the instructions - play button */
.close-button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  border: none;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Handjet", cursive;
  cursor: pointer;
}

/* Play Button colours*/
.close-button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.close-button:hover::before {
  width: 9em;
}
.play-game {
  text-align: center;
}

/* Overlay Part */

.hidden {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.313);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Footer */

footer {
  text-align: center;
  margin: 0 0;
  font-size: 1.9rem;
  font-family: "Handjet", cursive;
}
footer a {
  color: rgb(74, 89, 54);
}
